<header>
	<nav id="slide_nav" class="nav">
		<ul>
			<li>
				<ul>
					<li><a href="#" id="menu_toggle_close">Close</a></li>
					<li><a href="/Categories/?category=business">Business</a></li>
					<li><a href="/Categories/?category=entertainment">Entertainment</a></li>
					<li><a href="/Categories/?category=gaming">Gaming</a></li>
					<li><a href="/Categories/?category=general">General</a></li>
					<li><a href="/Categories/?category=music">Music</a></li>
					<li><a href="/Categories/?category=science-and-nature">Science &amp; Nature</a></li>
					<li><a href="/Categories/?category=sport">Sports</a></li>
					<li><a href="/Categories/?category=technology">Technology</a></li>
				</ul>
			</li>
		</ul>
	</nav>

	<nav id="main_nav" class="nav">
		<ul>
			<li><a href="#" id="menu_toggle_open">Categories</a></li>
		</ul>
	</nav>
	@if(ViewBag.Title == "Article"){
		<nav id="backbar_nav" class="nav">
			<a class="back-btn" href="javascript:window.history.back();">Back</a>
		</nav>
	}
</header>