<div class="account">
    <div class="col-md-12">
        <h3>Claims associated with current User</h3>
        <p>This page displays all the claims associated the the current User. This is useful when debugging to see which claims are being populated from the Auth0 ID Token.</p>
        <ul>
            @foreach (var claim in User.Claims){
                <li>
                    <strong>@claim.Type</strong>
                    <p>@claim.Value</p>
                </li>
            }
        </ul>
    </div>
</div>