<div class="account">
    <p>Hello <span class="nickname"></span></p>
    <img class="avatar" style="opacity:1;" src="https://unsplash.it/200/200">
    <input type="button" class="btn-login" value="login"/>
    <input type="button" class="btn-logout" value="logout"/>
</div>

