@inject Lazy<Stormpath.SDK.Account.IAccount> Account;

<div class="account">
    @if (Account.Value != null){
        <p>Hello, <b>@Account.Value.GivenName</b>!</p>
    }
    <form action="/Account/UpdatePasswordAsync/" method="GET">
        <input type="password" name="newPassword" placeholder="Change Your Password"/>
        <input type="submit"/>
    </form>
</div>
