@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@{ 
	ViewBag.Title = "Article"; 
	ViewBag.GoBack = true;
}

<div class="reader">
	<div class="reader_container">
		@foreach(var node in ViewBag.Nodes["title"]){
			<h1>@Html.Raw(node.InnerText)</h1>
		}
		<a href="@ViewBag.Original" target="_blank">Original Article</a>
		@foreach(var node in ViewBag.Nodes["content"]){
			<p>@Html.Raw(node.InnerText)</p>
		}
	</div>
</div>

@section scripts{
	<script>
		$(function(){
			$("img").map((img, key) => {
				$(key).attr('data-src', $(key).attr('src'));
			});
			$("img").unveil(200, function() {
				$(this).on('load', function(){
					$(this).velocity({"opacity": "1"});
				});
			});
		});
	</script>
}